  <h3><%= @list.name %></h3>
  <h4>Tasks</h4>

  <% @list.tasks.each do |task| %>
    <ul>
      <li><a href="/tasks/<%=task.id%>"><%= task.content %></a></li>
    </ul>
  <% end%>

  <a href="/lists/<%=@list.id%>/edit">Edit</a>
  <br />
  <br />