<h1>Add a New Task</h1>

<form action="/tasks" method="POST">
  <label> Task Content </label>
  <input type="text" name="content"> </br>

  <label> Which List does this task belong to? </label>
  <select name="list_id">
    <% current_user.lists.each do |list| %>
      <option value=<%=list.id %>><%= list.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Create">
</form>